@import "base16-waybar-colors-file.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "GohuFont 14 Nerd Font Propo", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: @base00;
    border-bottom: 3px solid @base02;
    transition-property: background-color;
    transition-duration: .5s;
}

/* TODO: style the tooltip */
tooltip {
    background: #171717;
    font-size: 13px;
    border-radius: 7px;
    border: 2px solid #101a24;
}

tooltip label {
    color: #ffffff;
}

/* highlight background class */
#pulseaudio,
#language,
#center {
    background-color: @base01;
    color: @base05;
    margin: 7px 0px;
    border-radius: 7px;
    padding-left: 12px;
    padding-right: 12px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @base01;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
}

#workspaces button:hover {
    background: @base01;
}

#workspaces button.focused, #workspaces button.active {
    box-shadow: inset 0 -3px @base00;
}

#workspaces button.urgent {
    background-color: @base08;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#workspaces button,
window#waybar,
#mpd {
    padding: 0 4px;
    color: @base04;
}

If workspaces is the leftmost module, omit left margin
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#network, #bluetooth {
    color: @base01;
    padding-left: 4px;
}

#battery {
    padding-left: 0px;
    padding-right: 0px;
}

/* #battery.charging, #battery.plugged { */
/*     color: #ffffff; */
/*     background-color: #26A65B; */
/* } */

@keyframes blink {
    to {
        background-color: @base08;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging),
#temperature.critical
{
    padding: 0 6px;
    margin: 7px 0px;
    border-radius: 7px;
    animation-name: blink;
    animation-duration: 0.6s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: @base0F;
}

#memory {
    color: @base0E;
    padding-left: 0px;
}

#backlight {
    color: @base0A;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background: @base01;
}

#pulseaudio.output.muted,
#pulseaudio.input.source-muted {
    background-color: @base02;
    color: @base05;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#tray-network {
    background-color: @base0D;
    margin: 7px 0px;
    border-radius: 7px;
    padding-left: 12px;
    padding-right: 12px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @base0F;
}

#language {
    padding: 0 4px;
    margin: 7px 6px;
    min-width: 24px;
}

#privacy {
    padding-left: 0;
    padding-right: 12px;
    margin: 3px 0;
}

#privacy-item {
    padding: 0 4px;
    color: @base01;
    border-radius: 5px;
}

#privacy-item.screenshare {
    background-color: @base08;
}

#privacy-item.audio-in {
    background-color: @base09;
}

#privacy-item.audio-out {
    background-color: @base0B;
}

#mpris {
    background-color: @base0B;
    color: @base01;
    padding-right: 12px;
    padding-left: 2px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

#mpris.paused {
    background-color: @base02;
}

#mpris.pad {
    padding: 0;
    border-radius: 0;
}

#mpris.pad.paused {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

#cava {
    background-color: @base0B;
    color: @base01;
    padding-right: 0px;
    padding-left: 12px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

#media-player {
    color: @base01;
    margin: 7px 0px;
    border-radius: 7px;
}
