* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "GohuFont 14 Nerd Font Propo", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #657377;
}

window#waybar {
    background-color: #fbf7ef;
    border-bottom: 3px solid #8faaab;
    transition-property: background-color;
    transition-duration: .5s;
}

/* TODO: style the tooltip */
tooltip {
    background: #171717;
    font-size: 13px;
    border-radius: 7px;
    border: 2px solid #101a24;
}

tooltip label {
    color: #ffffff;
}

/* highlight background class */
#pulseaudio,
#language,
#center {
    background-color: #f1e9d2;
    color: #5b7279;
    margin: 7px 0px;
    border-radius: 7px;
    padding-left: 12px;
    padding-right: 12px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #f1e9d2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
}

#workspaces button:hover {
    background: #f1e9d2;
}

#workspaces button.focused, #workspaces button.active {
    box-shadow: inset 0 -3px #fbf7ef;
}

#workspaces button.urgent {
    background-color: #f23749;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 4px;
}

If workspaces is the leftmost module, omit left margin
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#network, #bluetooth {
    color: #f1e9d2;
    padding-left: 4px;
}

#battery {
    padding-left: 0px;
    padding-right: 0px;
}

/* #battery.charging, #battery.plugged { */
/*     color: #ffffff; */
/*     background-color: #26A65B; */
/* } */

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f23749;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: #dd459d;
}

#memory {
    color: #7d80d1;
    padding-left: 0px;
}

#backlight {
    color: #ac8300;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background: #f1e9d2;
}

#pulseaudio.output.muted,
#pulseaudio.input.source-muted {
    background-color: #8faaab;
    color: #5b7279;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature.critical {
    background-color: #f23749;
}

#tray-network {
    background-color: #2b90d8;
    margin: 7px 0px;
    border-radius: 7px;
    padding-left: 12px;
    padding-right: 12px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #dd459d;
}

#language {
    padding: 0 4px;
    margin: 7px 6px;
    min-width: 24px;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
